﻿@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@model Abp.Application.Services.Dto.ListResultDto<Test.Users.Dto.UserListDto>
@{
    ViewBag.ActiveMenu = "Users"; //The menu item will be active for this page.
}
@section scripts
{
    @Html.IncludeScript("~/Views/Users/Index.js")
}
<div>
    <h1>@L("Users")</h1>
    <div class="row">
        <div class="col-md-12">
            <button data-toggle="modal" data-target="#UserCreateModal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> @L("CreateNewUser")</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>@L("UserName")</th>
                        <th>@L("FullName")</th>
                        <th>@L("EmailAddress")</th>
                        <th>@L("IsActive")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Items)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.FullName</td>
                            <td>@user.EmailAddress</td>
                            <td>@L(user.IsActive ? "Yes" : "No")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="UserCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="userCreateForm" role="form" novalidate class="form-validation">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateNewUser")</span>
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>@L("UserName")</label>
                        <input class="form-control" type="text" name="UserName" required maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">
                    </div>

                    <div class="form-group">
                        <label>@L("Name")</label>
                        <input type="text" name="Name" class="form-control" required maxlength="@Test.Users.User.MaxNameLength">
                    </div>

                    <div class="form-group">
                        <label>@L("Surname")</label>
                        <input type="text" name="Surname" class="form-control" required maxlength="@Test.Users.User.MaxSurnameLength">
                    </div>

                    <div class="form-group">
                        <label>@L("EmailAddress")</label>
                        <input type="email" name="EmailAddress" class="form-control" maxlength="@AbpUserBase.MaxEmailAddressLength">
                    </div>

                    <div class="form-group">
                        <label>@L("Password")</label>
                        <input type="password" name="Password" class="form-control" required maxlength="@Test.Users.User.MaxPlainPasswordLength">
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="IsActive" value="true" value="true" checked="checked"> @L("IsActive")
                        </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
